<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{ appText().settings.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ appText().settings.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-wrapper">
    <ion-list>
      <!-- Language Setting -->
      <ion-item>
        <ion-label>{{ appText().settings.language }}</ion-label>
        <ion-select 
          [value]="lang()" 
          (ionChange)="onLanguageChange($event)"
          interface="popover">
          <ion-select-option value="en">{{ appText().settings.english }}</ion-select-option>
          <ion-select-option value="ar">{{ appText().settings.arabic }}</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Theme Toggle -->
      <ion-item>
        <ion-label>{{ appText().settings.darkMode }}</ion-label>
        <ion-toggle 
          [checked]="theme() === 'dark'" 
          (ionChange)="onThemeToggle()">
        </ion-toggle>
      </ion-item>

      <!-- About Button -->
      <ion-item button (click)="goToAbout()">
        <ion-label>{{ appText().settings.about }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
