<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ getFeelingName() }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ getFeelingName() }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-wrapper">
    @if (feeling) {
      <div class="dhikr-list">
        @for (dhikr of feeling.adhkarList; track dhikr.id) {
          <app-dhikr-card [dhikr]="dhikr"></app-dhikr-card>
        }
      </div>
    } @else {
      <div class="empty-state">
        <p>{{ appText().dhikrList.noData }}</p>
      </div>
    }
  </div>
</ion-content>
