  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ getFeelingName() }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="resetAllDhikrs()" title="Reset All" #resetButton>
        <ion-icon slot="icon-only" name="refresh-outline" [class.wiggle]="wiggleReset()"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ getFeelingName() }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-wrapper">
    @if (feeling) {
      <div class="dhikr-list">
        @for (dhikr of feeling.adhkarList; track dhikr.id) {
          <app-dhikr-card [dhikr]="dhikr" [feelingId]="feeling.id"></app-dhikr-card>
        }
      </div>
    } @else {
      <div class="empty-state">
        <p>{{ appText().dhikrList.noData }}</p>
      </div>
    }
  </div>
</ion-content>
