<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ appText().tabs.home }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistics">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>{{ appText().tabs.statistics }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{ appText().tabs.settings }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
